<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <!--Nombre de las Listas-->
  <add key="ListaEstatusMovimiento" value="Estatus del Movimiento"/>
  <add key="ListaDecisionSimple" value="Decision Simple"/>
  <add key="ListaContacto" value="Contacto"/>
  <add key="ListaAccion" value="Accion"/>
  <add key="ListaTipoDocumento" value="TipoDocumento"/>
  <add key="ListaTipoSeleccionBloque" value="TipoSeleccionBloque"/>
  <add key="ListaOrigenDB" value ="ORIGENESBD"/>
  <add key="ListaConfigServicioOpinionMedica" value ="Configuración Opinión Médica"/>
  <add key="ListaSexo" value ="LVSexo"/>
  <add key="ListaParentesco" value ="Parentesco"/>
  <add key="ListaTipoMovimientoIngresoCA" value ="tipomovactivacion"/>
  <add key="ListaTipoMovimientoIngreso" value ="tipomoving"/>
  <add key="ListaTipoMovimientoEgreso" value ="tipomovegr"/>
  <add key="ListaModoMovimiento" value ="modomov"/>
  <add key="ListaHospitalizacionDias_CA" value ="DiasHosp"/>
	<!--LISTA VALORES - ESTATUS DEL CASO-->
	<add key="NombreValorCortoEstatusCartaAval" value="PROC"/>
  <!--Nombre Corto de las Listas Valores-->
  <!--LISTA VALORES - ESTATUS DEL MOVIMIENTO-->
  <add key="ListaValorEstatusEjecutado" value="EJECUTADO"/>
  <add key="ListaValorEstatusEnProceso" value="EN PROCESO"/>
	<add key="ListaValorEstatusPendiente" value="PENDIENTE"/>
  <add key="ListaValorDesicionSimpleSi" value="Si"/>
  <add key="ListaValorDesicionSimpleNo" value="No"/>
  <!-- LISTA-TIPOS DE MOVIMIENTOS DE INGRESO POSIBLES -->
  <add key="ListaValorIdIngresoAmbulatorio" value="300"/>
  <add key="ListaValorIdIngresoHospitalario" value="301"/>
  <add key="ListaValorIdIngresoAnulacion" value="302"/>
  <add key="ListaValorIdIngresoActivacionCA" value="315"/>
  <add key="ListaValorIdRefecharCA" value="317"/>
  <add key="ListaValorIdIngresoAnulacionCA" value="316"/>
  <!-- LISTA-TIPOS DE MOVIMIENTOS DE EGRESO Y EXTENSIÓN POSIBLES -->
  <add key="ListaValorIdEgreso" value="297"/>
  <add key="ListaValorIdExtension" value="298"/>
  <add key="ListaValorIdEgresoAnulacion" value="299"/>
  <!-- LISTA-SEXO -->
  <add key="ListaValorIdSexoMasculino" value ="88"/>
  <add key="ListaValorIdSexoFemenino" value ="89"/>
	<!--LISTA VALORES - ORIGENESDB-->
	<add key="ListaValorRM" value ="GESTOR_RM"/>
	<add key="ListaValorMPPE" value ="GESTORMPPE"/>
	<!-- LISTA VALORES - LISTA DE SERVICIOS POSIBLES-->
	<add key="ListaValorServicioCartaAval" value="339"/>
	<add key="ListaValorServicioClaveEmergencia" value="373"/>
</appSettings>
