.RadDock_HConnexum .rdMiddle .rdLeft,
.RadDock_HConnexum .rdMiddle .rdRight { background: transparent !important; }
.RadDock_HConnexum .rdTop .rdLeft,
.RadDock_HConnexum .rdTop .rdRight,
.RadDock_HConnexum .rdTop .rdCenter,
.RadDock_HConnexum .rdBottom .rdLeft,
.RadDock_HConnexum .rdBottom .rdRight,
.RadDock_HConnexum .rdCenter .rdCommands a span { background: transparent !important; }
.RadDock_HConnexum .rdMiddle .rdCenter, .RadDock_HConnexum .rdBottom .rdCenter { background-color: transparent !important; }
div.RadDock_HConnexum { background-color: transparent !important; }
.RadDock_HConnexum .rdTitleBar em { color: #000; }