/*
http://localhost/hconnexumcms/
*/
.vckl { font-family: "Arial"; font-size: 12px; width: 28px; }
.button { font-family: "Arial"; font-size: 12px; }
.blank { 	font-family: "Arial"; font-size: 12px; width: 160px; }
.fieldsetGeneral { width: 625px; padding: 5px; border-width: 2px; border-color: #4b6c9e; }
fieldset legend { background: #4b6c9e; padding: 2px; font-weight: normal; color: White; width: 605px; }
.fieldsetAnidadoLog { margin-left: 20px; width: 320px; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; padding: 5px; border-width: 2px; border-color: #4b6c9e; }
.fieldsetAnidadoTec { width: 570px; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; padding: 5px; border-width: 2px; }
.RadTextBox { width: 200px; }
a:hover { cursor: pointer; color: Blue; text-decoration: underline; }
a { color: Blue; text-decoration: underline; }
.ventana1 { width: 300px; height: 150px; background-color: #F4F4F4; border-color: #4b6c9e; border-width: medium; border-style: solid; }
.ventana2 { width: 350px; height: 150px; background-color: #F4F4F4; border-color: #4b6c9e; border-width: medium; border-style: solid; }
.titulo { background-color: #4b6c9e; color: White; }
.x { width: 8px; background-color: #4b6c9e; color: White; }
.xa { color: White; text-decoration: none; }
.xa:hover { cursor: pointer; color: Navy; text-decoration: none; }
.parrafo { margin-left: 20px; margin-right: 20px; margin-bottom: 20px; margin-top: 5px; }

.bgTopIzqLogin  { background-image: url('../Imagenes/bgLogin_01.png'); }
.bgTopDerLogin  { background-image: url('../Imagenes/bgLogin_04.png'); }
.bgTopCentralLogin { background-image: url('../Imagenes/bgLogin_02.png'); text-align: center; }
.bgCentralDer { 	background-image: url('../Imagenes/bgLogin_07.png'); height:77px; }
.bgHeaderLogin { background-image: url('../Imagenes/bgLogin_03.png'); }
.bgBotomLogin { 	background-image: url('../Imagenes/bgLogin_12.png'); }
.bgCentralTopLogin { background-image: url('../Imagenes/bg_06.png'); }
.bgCentraIzqlLogin { background-image: url('../Imagenes/bgLogin_08.png'); }
.bgCentralButomLogin { background-image: url('../Imagenes/bgLogin_09.png'); 	}
.bgCentraDerLogin { 	background-image: url('../Imagenes/bgLogin_10.png'); }
.bgIzquierdo  { background-image: url('../Imagenes/bgLogin_05.png'); }

#iPopUp .ui-dialog-content  { padding-top: 0px; width: 100% !important; overflow: hidden !important; width: 658px; position: relative; border: 0; background: black; overflow: auto; }
.dnnFormPopup .ui-resizable-se  { width: 14px; height: 14px; float: right; }