<div id="Envoltura" style="padding: 50px 100px 0px; height: 100%;">
<div id="Titulo" style="background-color: rgb(17, 23, 94); font-size: x-large; font-weight: bold; width: 100%;">
<h1 style="padding: 15px; margin: 0px;"><font color="#ffffff">
CONÓCENOS</font></h1>
</div>
<div id="Marco" style="width: 100%; background-color: rgb(255, 255, 255); border-right-color: rgb(192, 192, 192); border-left-color: rgb(192, 192, 192);">
<div id="Derecha" style="padding: 10px 10px 10px 200px; height: 100%; border-right-style: solid; border-left-style: solid; border-right-color: rgb(192, 192, 192); border-left-color: rgb(192, 192, 192); border-right-width: 1px; border-left-width: 1px;">
<p style="color: rgb(0, 0, 128);"> </p>
<p align="justify"><font color="#595959">Somos una empresa Venezolana con proyección internacional dedicada al desarrollo y la comercialización de modelos tecnológicos que apoyen&nbsp; y favorezcan las operaciones relativas a la industria del servicio.</font></p>
<p style=""> </p>
<p align="justify"><font color="#595959">Nuestros equipo de líderes está conformado por profesionales de las áreas de tecnología y procesos, quienes avalados por </font><b><font color="#002060">una experiencia de más de 25 años</font></b><font color="#595959"> dedicados a la innovación tecnológica en diferentes organizaciones orientadas al servicio, se han ganado el reconocimiento de estos sectores en Venezuela.</font></p>
<p style=""> </p>
<p align="justify"><font color="#595959">Nuestro Staff de Consultores lo conforman más de 60 profesionales altamente capacitados en las diferentes especialidades involucradas en el diseño, la construcción e implementación de modelos operacionales altamente eficientes y diferenciadores.</font></p>
<p style=""> </p>
<p align="justify"><font color="#595959">Tenemos una razón de ser: <b>Desarrollar y comercializar tecnologías innovadoras y de alta calidad que apoyen la intermediación de operaciones de servicios masivos.</b></font></p>
<p style=""> </p>
<p align="justify"><b><font size="3" color="#595959">Nuestro foco:</font></b></p>
<p align="justify"><font color="#595959">Ser una corporación internacional de tecnología de la información, cuyas soluciones estén presentes en cada transacción de intermediación de operaciones de servicios masivos.</font></p>
<p style=""> </p>
<p align="justify"><font color="#595959">Nos caracterizamos&nbsp; por: </font></p>
<p style=""> </p>
<ul>
    <li><font color="#595959">Responsabilidad</font></li>
    <li><font color="#595959">Calidad</font></li>
    <li><font color="#595959">Ética profesional</font></li>
    <li><font color="#595959">Cumplimiento</font></li>
    <li><font color="#595959">Confidencialidad</font></li>
    <li><font color="#595959">Compromiso</font></li>
    <li><font color="#595959">Trabajo en Equipo</font></li>
    <li><font color="#595959">Honestidad en las relaciones</font></li>
</ul>
<p style="color: rgb(0, 0, 128);"> </p>
<p style="color: rgb(0, 0, 128);"> </p>
<p style="color: rgb(0, 0, 128);"> </p>
<p style="color: rgb(0, 0, 128);"> </p>
<p style="color: rgb(0, 0, 128);"> </p>
<p style="color: rgb(0, 0, 128);"> </p>
<p style="color: rgb(0, 0, 128);"> </p>
</div>
</div>
</div><br>