a.rfAddGr { display: none; }
.BodyDefault { background-color: #C0C0C0; }
.RadioButtonListValidator { vertical-align: bottom; display: inline-table; }
.validator
{
	background-position: left center;
	vertical-align: top;
	color: #FF0000;
	background-image: url('../Imagenes/alertIcon.png');
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}
.RadWindow .radconfirm A.rwPopupButton, .RadWindow .radconfirm A.rwPopupButton:hover { }
.RadWindow .radalert A.rwPopupButton,.RadWindow .radalert A.rwPopupButton:hover { margin-left: 35%; }
.RadToolBar .rtbTextNeg span { font-weight: bold; }
.GadgetApp { cursor: crosshair; }

.RadCalendar_Office2010Blue .rcMain .rcOtherMonth a { color: #3b3b3b !important; }
.RadCalendar_Office2010Black .rcMain .rcOtherMonth a { color: #3b3b3b !important; }
.RadCalendar_Office2010Black .rcMain .rcOtherMonth a { color: #3b3b3b !important; }

.RadGrid { zoom:1 !important; }

.RadPicker_Office2010Blue { zoom:1 !important; }
.RadPicker_Office2010Black { zoom:1 !important; }
.RadPicker_Office2010Silver { zoom:1 !important; }


.tbHeadMisActividades{ background-color:#EDEEEF; background-image: url('../imagenes/bgLegend.png'); color: White; }
.tbHeadMisActividades td { padding:1px; }
.rtBot .rtTop { padding-left:5px; }
.tbHeadMisActividadesAct td { padding:1px; }

/*....::[ BLOQUES ] ::....*/
table.ancho { }
td.labelCell { margin:0; padding-left: 5px; padding-right: 10px; width:19%; font-weight: bold; white-space:nowrap; }
td.fieldCell { margin:0; padding-left: 5px; padding-right: 10px; width:31%; }

/*...::[ Bloques 3 Columnas PROPORCIONALES]::...*/
td.labelCell3colP { margin:0; padding-left: 5px; padding-right: 10px; width:33%; font-weight: bold; white-space:nowrap; }
td.fieldCell3colP { margin:0; padding-left: 5px; padding-right: 10px; width:33%; }

/*...::[ Bloques 4 Columnas PROPORCIONALES]::...*/
td.labelCell4colP { margin:0; padding-left: 5px; padding-right: 10px; width:25%; font-weight: bold; white-space:nowrap; }
td.fieldCell4colP { margin:0; padding-left: 5px; padding-right: 10px; width:25%; }

/*...::[ Bloques 5 Columnas]::...*/
td.labelCell5col { margin:0; padding-left: 5px; padding-right: 10px; width:20%; font-weight: bold; white-space:nowrap; }
td.fieldCell5col { margin:0; padding-left: 5px; padding-right: 10px; width:20%; }

/*....::[ coolfieldset ] ::....*/
.coolfieldset { font-weight: bold; cursor: pointer; border: 1px solid white; -moz-border-radius:5px; border-radius: 5px; -webkit-border-radius: 5px; padding: 0px 5px 0px 5px; }
.coolfieldset legend { font-weight: bold; cursor: pointer; border: 1px solid white; -moz-border-radius:5px; border-radius: 5px; -webkit-border-radius: 5px; padding: 2px 12px 2px 12px; }
.coolfieldset legend, .coolfieldset.expanded legend { background: transparent url('../Imagenes/expanded.gif') no-repeat left; padding: 2px 10px 2px 10px; }
.coolfieldset.collapsed legend { background: transparent url('../Imagenes/collapsed.gif') no-repeat left; }

.MisActividadesCell { white-space:nowrap; overflow: hidden; text-overflow: ellipsis; }
.MisActividadesTable { table-layout: fixed; width:100%;  }

