<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
       <sessionState allowCustomSqlDatabase="true" mode="SQLServer" sqlCommandTimeout="1800" sqlConnectionString="Server=SVE2008HC2\SS2008HC_DE;Database=ASPState;Integrated Security=true;Application Name=HConnexum_des" timeout="30" />
        <machineKey decryption="AES" decryptionKey="5C37A15E70D570F7C3B8493F0C6AC2A6AA36FB58B56DB8E69AB8DC06BF3E8B63" validationKey="51201925305979E5F4F51B6F84BEE38A6FFB4815CF5DA782A173E6F84B4B2DD983BFEEE1804CD0D5DC57EAAB82AE80D565149E50EDE617F5D88B773D9D9BB9B5" />
    </system.web>
</configuration>
